@import 'variables';

table {
  border: 0.5px solid #FFF;
  border-collapse: separate;
}

th, td {
  padding: 20px 50px;
  color: #FFF;
  border: 1px #8b0000 solid;
}

tr.no-highlight:hover {
  background-color: inherit;
}

tr:hover {
  background-color: darken($light-brown, 5%);
}

tr.bold-row td {
  font-weight: bold;
}